source ~/.vimrc

" Press `f` to activate AceJump
map <C-f> :action AceAction<CR>
" Press `F` to activate Target Mode
map <C-F> :action AceTargetAction<CR>
" Press `g` to activate Line Mode
map g :action AceLineAction<CR>
